@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 0;
    color: #292524;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    margin-top: 30px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
}
 
h3 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #57534E;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: #57534E;
}

p span {
    font-size: 16px;
    font-weight: 500;
    color: #E43A12;
}

p a {
    text-decoration: none;
}

.principal {
    display: flex;
    
}

.formulario {
    flex: 1; /* Ocupará todo o espaço disponível à esquerda */
    padding: 64px;
    overflow-y: auto; /* Adiciona rolagem caso o formulário seja longo */
    height: 100vh; /* Garante que a rolagem funcione corretamente */
    background-color: #FFFFFF;
}

.conteudo_formulario {
    display: flex;
    flex-direction: column; /* Garante que os elementos fiquem em coluna */
}

/*espaçamento entre os elementos das divs*/
.titulo_orientacao, .info_participantes, .info_endereco {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info_participantes {
    margin-top: 30px;
}

.imagens_laterais {
    background-color: #2135a6;
    width: 50%; /* Define um tamanho fixo para a lateral */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: sticky;
    right: 0;
    top: 0;
    height: 100vh; /* Mantém o tamanho fixo e impede rolagem */
    overflow: hidden;
}

.imagens_laterais img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.botoes_form {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

input:not(.concordo_termos, .btn_cancelar, .btn_enviar), select {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #ccc;   
}

select {
    cursor: pointer;
}

.btn_cancelar {
    background-color: #ffffff;
    gap: 8px;
    padding: 12px 24px 12px 24px;
    border-radius: 8px ;
    border: 1px solid #E43A12;
    color: #E43A12;
}

.btn_enviar{
    background-color: #E43A12;
    gap: 8px;
    padding: 12px 24px 12px 24px;
    border: 1px solid #e43a12;
    border-radius: 8px;
    color: #FFFFFF;
}

.btn_voltar {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.btn_voltar p {
    font-size: 16px;
    color: #57534E;
}

.btn_voltar img {
    width: 30px;
    height: auto;
}

.inserir_doc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inserir_doc input {
    display: none;
}

.inserir_doc label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    height: 160px;
}

.inserir_doc label:hover {
    background-color: #e0e0e0;
}

.inserir_doc img {
    width: 40px;
    height: auto;
}

.selecao_trilha {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.trilhas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.trilha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #D6D3D1;
    cursor: pointer;
    transition: 0.3s;
}


.trilha img {
    width: 40px;
    height: 40px;
}

.trilha span {
    font-size: 16px;
    font-weight: 500;
}

/* esconder o icone de seleção */
.trilha input {
    display: none;
}

.icone_radio {
    margin-right: 80%;
    justify-content: left;
    width: 24px;
    height: 24px;
}

/* icone representando a trilha */
.icone_trilha {
    width: 40px;
    height: 40px;
}

/* muda o ícone da bolinha quando a trilha for selecionada*/
.trilha input:checked + .icone_radio {
    content: url("img/icones/checkmark-circle-01.png");
}

/* muda a borda da label */
.trilha:has(input:checked) {
    border: 2px solid #E43A12; /* Cor da borda ao ser selecionado */
}

.erro {
    color: red;
    font-size: 0.85rem;
    display: block;
    margin-top: 2px;
  }
  